<div style="margin: 5px;">
  <h1>Paste your URL on and get a shorter URL!!!</h1>
  <form action="/" method="POST">
    <input type="url" name="url" id="url" placeholder="e.g. http://www.google.com" required>
    <button type="submit" class="btn btn-info">submit</button>
  </form>
</div>
