<div style="margin: 5px;">
  <h1>Short Url is generated!!!</h1>
  <a id="short-url" href="{{url}}">{{url}}</a><br>
  <button id="copy-btn" type="button" class="btn btn-info">copy</button>
  <a class="fas fa-home text-info" href="/">Home</a>
</div>
